body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Alerts */
.alert-success {
  color: white;
  background-color: #157347;
  border: none;
}

.alert-error {
  color: white;
  background-color: #bb2d3b;
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h2 {
  text-align: center;
}

.input-group {
  padding-top: 1.5rem;
}

.grocery-container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
}

.clear-button {
  margin: 0 auto;
  width: 50%;
  margin-top: 1.5rem;
}